* {
  margin: 0;
  padding: 0;
}
body {
  height: 1200px;
  background-color: #c7c7c7;
}
.dcontainer {
  height: 1000px;
  margin-top: 40px;
}
span.glyphicon {
  font-size: 3em;
}
.designl {
  width: 968px;
  height: 530px;
}
#menu,
#options,
#preview_t,
#view_mode,
#overview {
  float: left;
}
.bold_text {
  font-weight: bold;
}
.italic_text {
  font-style: italic;
}
.underline_text {
  text-decoration: underline;
}
.shadow {
  box-shadow: 0 0 10px inset #3c3c3c;
}
/*======================MENU=============================*/
#menu {
  width: 73px;
  height: 530px;
  background: #414141;
  text-align: center;
  border: #3c3c3c;
}
.menu_option {
  margin-top: 20px;
  padding: 10px;
  color: #bdbdbd;
  cursor: pointer;
}

.sel_color:hover {
  color: #666666;
  background-color: #ffffff;
  border-left: solid 5px #7bdb8b;
}

.sel_art:hover {
  color: #666666;
  background-color: #ffffff;
  border-left: solid 5px #7bdb8b;
}
.custom_icon {
  padding: 10px;
}
.custom_icon h4 {
  font-size: 15px;
  letter-spacing: 2px;
  font-family: Sharp Sans, helvetica, arial, Trebuchet MS, sans-serif;
}
.custom_icon p {
  font-size: 12px;
  border-bottom: solid 1px #9b9b9b;
}
.sel_custom_icon:hover {
  color: #666666;
  background-color: #ffffff;
  font-weight: 400;
  border-left: solid 5px #7bdb8b;
}
.sel_text:hover {
  color: #666666;
  background-color: #ffffff;
  border-left: solid 5px #7bdb8b;
}
#download_button{
padding:10px !important;
}
/*======================subMENU 1=============================*/

/*======================subMENU 1 over=============================*/
/*======================MENU OVER=============================*/
/*======================OPTIONS=============================*/
#options {
  width: 280px;
  height: 530px;
  background: #ffffff;
  border: solid 1px rgb(209, 209, 209);
}
.T_type {
  width: 180px;
  height: 100%;
  background: #e4e4e4;
}
.T_type div {
  width: 82px;
  height: 85px;
  float: left;
  cursor: pointer;
  margin: 2px;
}

.color_pick {
  width: 275px;
  height: 40px;
  background: #ffffff;
}
.color_pick > h4 {
  background-color: #f3f3f3;
  justify-content: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 2px;
  font-family: Sharp Sans, helvetica, arial, Trebuchet MS, sans-serif;
}
.color_pick > p {
  justify-content: center;
  text-align: left;
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 2px;
  font-family: Sharp Sans, helvetica, arial, Trebuchet MS, sans-serif;
}
.colors {
  padding-left: 20px;
}
.color_radio_div {
  height: 30px;
  width: 30px;
  float: left;
  display: inline;
  margin: 2px;
}

#red {
  background: red;
  cursor: pointer;
  border: solid 0.5px rgb(231, 231, 231);
  border-radius: 5px;
}
#black {
  background: black;
  cursor: pointer;
  border: solid 0.5px rgb(231, 231, 231);
  border-radius: 5px;
}
#gray {
  background: rgb(102, 102, 102);
  cursor: pointer;
  border: solid 0.5px rgb(231, 231, 231);
  border-radius: 5px;
}
#white {
  background: white;
  cursor: pointer;
  border: solid 0.5px rgb(231, 231, 231);
  border-radius: 5px;
}
#green {
  background: green;
  cursor: pointer;
  border: solid 0.5px rgb(231, 231, 231);
  border-radius: 5px;
}
#navy {
  background: navy;
  cursor: pointer;
  border: solid 0.5px rgb(231, 231, 231);
  border-radius: 5px;
}

.default_samples {
  width: 180px;
  height: 520px;
  border: 1px solid #acacac;
  background: #f1f1f1;
  overflow-y: scroll;
}
.default_samples::-webkit-scrollbar {
  width: 8px;
  background-color: #cccccc;
}
.default_samples::-webkit-scrollbar-thumb {
  background-color: #acacac;
  border-radius: 4px;
}
.default_samples::-webkit-scrollbar-thumb:hover {
  background-color: #9c9c9c;
  border-radius: 4px;
}
.sample_icons,
.dir_icons {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 2px;
  float: left;
  box-shadow: 0 0 5px transparent;
}
.sample_icons:hover {
  box-shadow: 0 0 5px #acacac;
}
.dir_icons {
  width: 100%;
  height: auto;
  box-shadow: 0 0 5px transparent;
  border-top: #cccccc 1px solid;
  border-bottom: #cccccc 1px solid;
}
.dir_icons:hover {
  box-shadow: 0 0 5px #acacac;
}

div.upload {
  width: 178px;
  height: 30px;
  background: grey;
  overflow: hidden;
}

div.upload input {
  display: block !important;
  width: 208px !important;
  height: 40px !important;
  opacity: 0 !important;
  overflow: hidden !important;
  cursor: pointer;
}
.custom_font {
  background: #ffffff;
  width: 270px;
  height: 150px;
  margin-left: 5px;
}
.custom_font textarea {
  width: 260px;
  height: auto;
  min-height: 120px;
  max-height: 220px;
  resize: none;
}
.new_icon,
.new_text {
  cursor: move;
  position: absolute;
  border: 1px solid transparent;
  height: 60px;
  width: 100px;
  padding: 5px 5px 0 0;
}
.new_icon .property_icon,
.new_text .property_icon {
  display: none;
}

.new_icon:hover,
.new_text:hover,
.new_icon:active,
.new_text:active {
  border: 1px solid #777;
}
#fs {
  width: 200px;
  height: 30px;
  margin: 20px 0;
}
#text-color {
  width: 55px;
  height: 30px;
  margin: 10px 0;
}
.font_styling {
  width: 260px;
  height: 35px;
  background: grey;
}
.font_styling span {
  border: 1px solid #3c3c3c;
  height: 20px;
  width: 20px;
  margin: 2px;
  display: block;
  float: left;
  cursor: pointer;
  background: #e1e1e1;
  text-align: center;
}
.font_styling span:hover {
  background: #c1c1c1;
  box-shadow: 0 0 5px #acacac;
}
#bold_button {
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#font_size {
  width: 100px;
  height: 30px;
  margin-top: 3px;
  align-items: center;
}
#italic_button {
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Text_input {
  border: 1px solid #9c9c9c;
  height: auto;
  width: auto;
}
#custom_text {
  padding: 10px;
  color: rgb(0, 0, 0);
}
#apply_text {
  width: 260px;
}
#apply_text:hover {
  background-color: #79b87f;
}

/*======================OPTIONS Ends=============================*/
/*======================PREVIEW=============================*/

#preview_t {
  width: 495px;
  height: 530px;
  display: inline;
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: 1px solid #acacac;
  border-top: 1px solid #acacac;
}
#preview_front,
#preview_back {
  height: 510px;
  width: 480px;
  background-repeat: no-repeat;
  background-size: 480px 510px;

  margin: 5px;
}
.dis_none {
  display: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.front_print,
.back_print {
  width: 470px;
  height: 500px;
  position: absolute;
  padding: 5px;
}
.delete_icon,
.delete_text,
.drag_text {
  background: green;
  height: 20px;
  width: 20px;
  display: block;
  cursor: pointer;
  position: absolute;
  top: -12px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.delete_icon,
.delete_text {
  right: -12px;
  background-image: url(../images/del.jpg);
  background-size: 20px 20px;
}
.drag_text {
  background: blue;
  left: -12px;
}
.delete_icon:hover,
.delete_text:hover,
.drag_text:hover {
  box-shadow: 0 0 5px #4c4c4c;
  top: -10px;
  right: -10px;
}
.drag_text {
  background-image: url(../images/moveButton.png);
  background-size: 20px 20px;
}
#text_style {
  background: none;
  border: none;
  width: inherit;
  height: inherit;
  resize: none;
  overflow: hidden;
}
/*======================PREVIEW Ends=============================*/
/*======================VIEW MODE=============================*/

#view_mode {
  width: 60px;
  height: 530px;
  margin-left: 5px;
  background: #ffffff;
}
#view_mode div {
  width: 60px;
  height: 80px;
  margin-bottom: 5px;
  padding: 3px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}
#view_mode div:hover {
  background: #b0ebb5;
}
#preview_images {
  color: #5e5e5e;
  padding-top: 5px;
  height: 0px;
}
#preview_images:hover {
  color: #3f3f3f;
}
/*======================VIEW MODE Ends=============================*/
/*======================Overview=============================*/
#purchase {
  width: 200px;
  height: 100%;
  color: rgb(255, 255, 255);
  background-color: #71926d;
}
#purchase:hover {
  background-color: #5a9654;
}
#overview {
  width: 495px;
  height: 45px;
  border: 1px solid #acacac;
  background: #ffffff;
  padding: 5px;
  margin-left: 354px;
  margin-top: 10px;
}
.btn-primary:hover {
  background-color: #7bb483;
}
.layer {
  width: 100%;
  height: 100%;
  background-color: rgba(140, 140, 140, 0.5);
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
}
.modal-content {
  width: 1000px;
  margin: 30px auto;
}
.bottom_img {
  width: 1000px;
  height: 60px;
  margin: 0px auto;
  margin-top: -20px;
  margin-bottom: 40px;
  padding: 10px;
  background: white;
  border: 1px solid #9c9c9c;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0 20px 20px #3c3c3c;
}
.btn-file {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.btn-file:hover {
  color: #2e8f32;
  background-color: #fdfdfd;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
@media only screen and (max-width: 600px) {
}
